In [3]:
import pandas as pd

In [6]:
data = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], index = [1,2,3])

In [7]:
print(data)

   0  1  2
1  1  2  3
2  4  5  6
3  7  8  9

In [20]:
data[0][1]

1

In [6]:
data[2:4]

   0  1  2
2  7  8  9

In [9]:
data[data.index.isin([0,2])]

   0  1  2
0  1  2  3
2  7  8  9